# 폐암환자 생존률 예측

In [4]:
!unzip dataset.zip -d dataset

Archive:  dataset.zip
  inflating: dataset/housing.csv
  inflating: dataset/iris.csv
  inflating: dataset/pima-indians-diabetes.csv
  inflating: dataset/sonar.csv
  inflating: dataset/ThoraricSurgery.csv
  inflating: dataset/wine.csv

In [5]:
!ls

dataset  dataset.zip  sample_data

In [6]:
!ls -l dataset

total 548
-rw-r--r-- 1 root root  49082 Jun 30  2020 housing.csv
-rw-r--r-- 1 root root   4551 Jun 30  2020 iris.csv
-rw-r--r-- 1 root root  23279 Jun 30  2020 pima-indians-diabetes.csv
-rw-r--r-- 1 root root  87776 Jun 30  2020 sonar.csv
-rw-r--r-- 1 root root  21257 Jun 30  2020 ThoraricSurgery.csv
-rw-r--r-- 1 root root 361279 Jun 30  2020 wine.csv

### 데이터 탐색

In [7]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv('dataset/ThoraricSurgery.csv')
df.head(3)

   293  1   3.8   2.8  0  0.1  0.2  0.3  ...  12  0.6  0.7  0.8  1.1  0.9  62  0.10
0    1  2  2.88  2.16  1    0    0    0  ...  14    0    0    0    1    0  60     0
1    8  2  3.19  2.50  1    0    0    0  ...  11    0    0    1    1    0  66     1
2   14  2  3.98  3.06  2    0    0    0  ...  14    0    0    0    1    0  80     1

[3 rows x 18 columns]

In [20]:
df.describe()

              293           1         3.8  ...         0.9          62        0.10
count  469.000000  469.000000  469.000000  ...  469.000000  469.000000  469.000000
mean   235.377399    3.100213    3.280533  ...    0.004264   62.535181    0.149254
std    135.940568    0.716547    0.871996  ...    0.065233    8.716164    0.356719
min      1.000000    2.000000    1.440000  ...    0.000000   21.000000    0.000000
25%    118.000000    3.000000    2.600000  ...    0.000000   57.000000    0.000000
50%    235.000000    3.000000    3.160000  ...    0.000000   62.000000    0.000000
75%    353.000000    3.000000    3.810000  ...    0.000000   69.000000    0.000000
max    470.000000    8.000000    6.300000  ...    1.000000   87.000000    1.000000

[8 rows x 18 columns]

### 데이터셋 만들기

In [21]:
from sklearn.model_selection import train_test_split
import tensorflow as tf

In [22]:
# 실행할 떄마다 같은 결과를 출력하기 위한 seed 값 설정
seed = 2021
np.random.seed(seed)
tf.random.set_seed(seed)

In [23]:
X_train, X_test, y_train, y_test = train_test_split(
    df.iloc[:, :-1].values, df.iloc[:, -1].values, stratify=df.iloc[:, -1].values,
    random_state=seed
)
X_train.shape, X_test.shape

((351, 17), (118, 17))

### 모델 정의

In [14]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [24]:
model = Sequential()
model.add(Dense(30, input_shape=(17,), activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                540
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 31
=================================================================
Total params: 571
Trainable params: 571
Non-trainable params: 0
_________________________________________________________________

### 모델 컴파일(실행환경 설정)

In [25]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

### 모델 학습

In [26]:
model.fit(X_train, y_train, validation_split=0.2, epochs=30, batch_size=10)

Epoch 1/30
28/28 [==============================] - 1s 9ms/step - loss: 6.3421 - accuracy: 0.3622 - val_loss: 2.3913 - val_accuracy: 0.6901
Epoch 2/30
28/28 [==============================] - 0s 3ms/step - loss: 1.1102 - accuracy: 0.8174 - val_loss: 0.8646 - val_accuracy: 0.6761
Epoch 3/30
28/28 [==============================] - 0s 3ms/step - loss: 0.5193 - accuracy: 0.8056 - val_loss: 0.7457 - val_accuracy: 0.7324
Epoch 4/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3836 - accuracy: 0.8856 - val_loss: 0.6328 - val_accuracy: 0.7324
Epoch 5/30
28/28 [==============================] - 0s 3ms/step - loss: 0.4683 - accuracy: 0.8464 - val_loss: 0.6744 - val_accuracy: 0.7324
Epoch 6/30
28/28 [==============================] - 0s 2ms/step - loss: 0.4807 - accuracy: 0.8289 - val_loss: 0.6402 - val_accuracy: 0.7324
Epoch 7/30
28/28 [==============================] - 0s 3ms/step - loss: 0.4248 - accuracy: 0.8616 - val_loss: 0.6297 - val_accuracy: 0.7746
Epoch 8/30
28/28 [==============================] - 0s 3ms/step - loss: 0.4274 - accuracy: 0.8598 - val_loss: 0.6369 - val_accuracy: 0.7746
Epoch 9/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3762 - accuracy: 0.8815 - val_loss: 0.5880 - val_accuracy: 0.7606
Epoch 10/30
28/28 [==============================] - 0s 3ms/step - loss: 0.4349 - accuracy: 0.8723 - val_loss: 0.6281 - val_accuracy: 0.7887
Epoch 11/30
28/28 [==============================] - 0s 3ms/step - loss: 0.4039 - accuracy: 0.8671 - val_loss: 0.6766 - val_accuracy: 0.7887
Epoch 12/30
28/28 [==============================] - 0s 3ms/step - loss: 0.4014 - accuracy: 0.8780 - val_loss: 0.6048 - val_accuracy: 0.7887
Epoch 13/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3520 - accuracy: 0.8751 - val_loss: 0.5988 - val_accuracy: 0.7887
Epoch 14/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3998 - accuracy: 0.8522 - val_loss: 0.5838 - val_accuracy: 0.7887
Epoch 15/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3835 - accuracy: 0.8590 - val_loss: 0.5770 - val_accuracy: 0.7887
Epoch 16/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3277 - accuracy: 0.9015 - val_loss: 0.7318 - val_accuracy: 0.7887
Epoch 17/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3766 - accuracy: 0.8750 - val_loss: 0.6250 - val_accuracy: 0.7887
Epoch 18/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3875 - accuracy: 0.8605 - val_loss: 0.5962 - val_accuracy: 0.7887
Epoch 19/30
28/28 [==============================] - 0s 3ms/step - loss: 0.4965 - accuracy: 0.8060 - val_loss: 0.6904 - val_accuracy: 0.7887
Epoch 20/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3970 - accuracy: 0.8633 - val_loss: 0.7390 - val_accuracy: 0.7887
Epoch 21/30
28/28 [==============================] - 0s 3ms/step - loss: 0.4119 - accuracy: 0.8614 - val_loss: 0.5824 - val_accuracy: 0.7887
Epoch 22/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3217 - accuracy: 0.9008 - val_loss: 0.8064 - val_accuracy: 0.7887
Epoch 23/30
28/28 [==============================] - 0s 3ms/step - loss: 0.5348 - accuracy: 0.8328 - val_loss: 0.5637 - val_accuracy: 0.7887
Epoch 24/30
28/28 [==============================] - 0s 3ms/step - loss: 0.4124 - accuracy: 0.8386 - val_loss: 0.6224 - val_accuracy: 0.7887
Epoch 25/30
28/28 [==============================] - 0s 3ms/step - loss: 0.4113 - accuracy: 0.8305 - val_loss: 0.6450 - val_accuracy: 0.7887
Epoch 26/30
28/28 [==============================] - 0s 8ms/step - loss: 0.3825 - accuracy: 0.8771 - val_loss: 0.5929 - val_accuracy: 0.7887
Epoch 27/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3362 - accuracy: 0.8886 - val_loss: 0.5940 - val_accuracy: 0.7887
Epoch 28/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3776 - accuracy: 0.8812 - val_loss: 0.9285 - val_accuracy: 0.7887
Epoch 29/30
28/28 [==============================] - 0s 3ms/step - loss: 0.5620 - accuracy: 0.8549 - val_loss: 0.6307 - val_accuracy: 0.7887
Epoch 30/30
28/28 [==============================] - 0s 3ms/step - loss: 0.3365 - accuracy: 0.8884 - val_loss: 0.5704 - val_accuracy: 0.7887

### 정확도 평가

In [27]:
acc = model.evaluate(X_test, y_test)
acc

4/4 [==============================] - 0s 4ms/step - loss: 0.4668 - accuracy: 0.8305

[0.46680256724357605, 0.8305084705352783]

In [28]:
print(f'Accuracy: {acc[1]:.4f}')

Accuracy: 0.8305